TELEGRAM_BOT_TOKEN=8661740846:AAEJV_uO5lEXBdauz_m05-jgSTqnynBeB70
GOOGLE_SHEETS_CREDENTIALS_PATH=path/to/credentials.json
SPREADSHEET_ID=1_s-NrVcjIfjY-5xNZRGO34AOTsG7os7Q
SHEET_NAME=Pengeluaran+pemasukan